.header1{
    display: flex;

}
*{
    margin: 0;
    padding: 0;
}
.header2{
    display: flex;
    margin: 20px;
}
.box{
    margin: 10px;
    display: flex;
    flex-direction:row;
}
Input{
    display: inline;

}
Button{
    margin: 5px;
}

